@model IEnumerable<Aleph.Web.Models.Card>
@{
    ViewBag.Title = "Countries";
}

<div class="row form-horizontal">
    <form class="col-md-4" action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                <input class="form-control" id="name" name="name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="name">Flag</label>
            <div class="col-md-10">
                <input class="form-control" id="flag" name="flag" type="file" />
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>
</div>

<div class="row">
    <div style="width:500px;">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                @:@Html.Partial("_Card", item)
            }
        </ul>
    </div>
</div>