@model IEnumerable<Aleph.Web.Models.Card>
@{
    ViewBag.Title = "Countries";
}

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <form class="form-horizontal" action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Name</label>
                    <div class="col-md-10">
                        <input class="form-control" id="name" name="name" type="text" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Flag</label>
                    <div class="col-md-10">
                        <input class="form-control" id="flag" name="flag" type="file" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="continent">Continent</label>
                    <div class="col-md-10">
                        <select class="form-control" name="continent" required>
                            <option></option>
                            <option>America</option>
                            <option>Europe</option>
                            <option>Asia</option>
                            <option>Africa</option>
                            <option>Australia</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <div class="row">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    @:@Html.Partial("_Card", item)
                }
            </ul>
        </div>
    </div>
</div>

