@model Aleph.Web.Models.Card

<li class="list-group-item">
    <div class="row">
        <div class="col-md-3">
            <img src="~/assets/imgs/nothing.png" width="80%" />
        </div>
        <div class="col-md-9">
            <code class="pull-right">123</code>
            <h4 class="list-group-item-heading">@Model.title</h4>
            <p class="text-muted">Amet, consectetur adipiscing elit.</p>
            <div class="list-inline">
                @foreach (var data in Model.data)
                {
                    <small class="text-muted">
                        <span>X</span>
                        <span>@data.Item2</span>
                    </small>
                    @:&nbsp;
                }
                <small class="text-muted pull-right">
                    1986 - 2015
                </small>
            </div>
        </div>
    </div>
</li>
