@model IEnumerable<Aleph.Web.Models.Card>
@{
    ViewBag.Title = "Hello";
}

<div style="width:500px;">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            @:@Html.Partial("_Card", item)
        }
    </ul>
</div>